:root {
  --primary: #2563eb;
  --secondary: #0f172a;
  --accent: #2233ed;
  --background: #f8fafc;
  --text: #e2e8f0;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--text);
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrap .button {
  height: 5rem;
  width: 37.5rem;
  cursor: pointer;
  letter-spacing: 0.3rem;
  font: 700 1.25rem "Fredoka";
  border-radius: 1.2px;
  border: 2px solid var(--secondary);
  background-color: var(--primary);
  transition: 0.3s;
}

.wrap .button:hover {
  background-color: var(--secondary);
  color: var(--text);
}

.text {
  display: flex;
  color: var(--secondary);
  font: 800 5rem "Fredoka";
  letter-spacing: 0.6rem;
}

/* Mobile Screen */
@media screen and (max-width: 600px) {
  .wrap .button {
    height: 3.5rem;
    width: 26.25rem;
  }
  .text {
    display: flex;
    font: 800 3.5rem "Fredoka";
  }
}

/* Tablet Screen */
@media screen and (max-width: 768px) {
  .wrap .button {
    height: 4rem;
    width: 30rem;
  }
  .text {
    display: flex;
    color: var(--secondary);
    font: 800 4rem "Fredoka";
  }
}

/* Laptop Screen */
@media screen and (max-width: 992px) {
  .wrap .button {
    height: 5rem;
    width: 37.5rem;
    font: 700 1.25rem "Fredoka";
  }
  .text {
    display: flex;
    font: 800 5rem "Fredoka";
  }
}
